# Audiobookshelf quadlet
[Unit]
Description=Audiobookshelf Container

[Container]
ContainerName=audiobookshelf
Image=ghcr.io/advplyr/audiobookshelf:latest
AutoUpdate=registry
#NoNewPrivileges=true

PublishPort=10003:80

Volume=audiobookshelf.volume:/config:Z
Volume=audiobookshelf.volume:/metadata:Z
Mount=type=bind,source={CHANGE_ME}/audiobooks,destination=/audiobooks,relabel=shared

Timezone=local

# UserNS=keep-id

# Healthcheck
HealthCmd="curl -f http://localhost/ping"
HealthStartPeriod=30s
HealthInterval=30s
HealthTimeout=10s
HealthRetries=3

[Service]
TimeoutStartSec=900

[Install]
WantedBy=default.target
