# mealie.kube
[Unit]
Description=Mealie Recipes Webapp
After=mealie-db.service
Wants=mealie-db.service

[Container]
ContainerName=mealie-app
Pod=mealie.pod
Image=ghcr.io/mealie-recipes/mealie:latest
AutoUpdate=registry

Volume=/opt/mealie/data:/app/data:Z

Timezone=local

Environment=ALLOW_SIGNUP=true
Environment=MAX_WORKERS=1
Environment=WEB_CONCURRENCY=1
Environment=BASE_URL=https://food.home.janolaf.ca

# OIDC
#Environment=OIDC_AUTH_ENABLED=true
#Environment=OIDC_SIGNUP_ENABLED=true
#Environment=OIDC_CONFIGURATION_URL=https://auth.xxxx.tld/.well-known/openid-configuration
#Environment=OIDC_CLIENT_ID=
#Environment=OIDC_CLIENT_SECRET=
#Environment=OIDC_AUTO_REDIRECT=false
#Environment=OIDC_REMEMBER_ME=true
#Environment=OIDC_ADMIN_GROUP=mealie-admins
#Environment=OIDC_USER_GROUP=mealie-users

# Postgres Database
Environment=DB_ENGINE=postgres
Environment=POSTGRES_USER=mealie
Environment=POSTGRES_DB=mealie
Secret=mealie-db-password,type=env,target=POSTGRES_PASSWORD
Environment=POSTGRES_SERVER=localhost

# HealthCheck


[Service]
MemoryMax=1G
TimeoutStartSec=900

[Install]
WantedBy=default.target
